@import url(/vendor/normalize.css);
@import url(/vendor/fonts.css);
.page {
  background-color: #2a2c2f;
  color: #ffff;
  max-width: 1280px;
}

.header {
}

.header__logo {
  width: 255px;
  height: 69px;
  padding: 34px 513px 91px;
}

.header__title {
  margin: 0px;
  padding: 0px 280px 32px;
  text-align: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

.header__subtitle {
  margin: 0px;
  padding: 0px 280px 64px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;

  width: 720px;
  height: 72px;
}

.header__span {
  display: block;
}

.header__image {
  margin: 0px 148px 92px;
}

.main {
}

.main__content {
}

.content {
}

.content__title {
  margin: 0px;
  padding: 0px 302px 40px 148px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;

  width: 830px;
  height: 174px;
}

.content__text-main {
  margin: 0px;
  padding: 0px 394px 10px 148px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  width: 738px;
  height: 135px;
}

.content__text-quote {
  margin: 0px;
  padding: 0px 400px 32px 148px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  width: 732px;
  height: 34px;

  text-align: end;
}

.content__text-final {
  margin: 0px;
  padding: 0px 410px 92px 148px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;

  width: 722px;
  height: 181px;
}

.footer {
  max-width: 1280px;
  background-color: #2a2c2f;
  color: #ffff;
}

.footer__copyright {
  margin: 0px;
  padding: 0px 543px 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  width: 194px;
  height: 16px;
}
